<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <title>Is it an Anagram?</title>
</head>
<body>
  <div class="container">
    <h1>Is it an Anagram?</h1>
    <h2>Or do we nag a ram?</h2>
    @RenderBody()
  </div>
</body>
</html>
