@{
    Layout="Shared/_Layout.cshtml";
}
<form action="/results" method="post">
  <div class="form-group">
    <label for="word1">Enter your first word:</label>
    <input type="text" name="word1" id="word1" required>
  </div>
  <div class="form-group">
    <label for="word2">Enter a word:</label>
    <input type="text" name="word2" id="word2" required>
  </div>
  <div class="form-group">
    <label for="word3">Enter a word:</label>
    <input type="text" name="word3" id="word3" required>
  </div>
  <button type="submit" class="btn btn-lg btn-primary">Get your word's anagram:</button>
</form>
